$primary-color: #ffffff;

$t-text: #404064;
$pl-text: #CCCCCC;
$l-text: #3167BA;

$fin-btn-bg: #FFCE0C;
$fin_btn-text: #333333;

$secendory-color: #6879BB;

$bg-homepage: #EBF2FB;

$bg-sidebar-header: #535374;

$border-b-process: #D6DCE9;

